eyframes navigationHideBar {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes pageAnimation{
  from  {
    transform: translateX(-100%);

  }
  to{
    transform: translateX(0);

  }
}