// author ZeeMan(zeeshan manzoor)
// 2017 

// donot edit modules/_sprite directly as it is generated automatically
// by Gulp. Instead edit gulp/templates/Sprite

.icon{
	background-image: url('/assets/images/sprites/svg/sprite-11b28c85.svg');
}
	.icon--boundries{
		width: 24px;
		height: 24px;		
		background-position: 0 0;
	}

