@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
eyframes navigationHideBar 0% {
  opacity: 1; }

eyframes navigationHideBar 100% {
  opacity: 0; }

@-webkit-keyframes pageAnimation {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes pageAnimation {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

eyframes navigationHideBar 0% {
  opacity: 1; }

eyframes navigationHideBar 100% {
  opacity: 0; }

@keyframes pageAnimation {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.icon {
  background-image: url("/assets/images/sprites/svg/sprite-d6c6bdb2.svg"); }

.icon--Core-tracking {
  width: 512px;
  height: 512px;
  background-position: 0 0; }

.icon--QuickStatus {
  width: 24px;
  height: 24px;
  background-position: 79.47865229110512% 66.66666666666667%; }

.icon--Reports {
  width: 512px;
  height: 512px;
  background-position: 37.454279444038036% 0; }

.icon--SMS {
  width: 354.329px;
  height: 504.688px;
  background-position: 67.16203036589533% 0; }

.icon--TraceData {
  width: 24px;
  height: 24px;
  background-position: 76.891051212938% 66.66666666666667%; }

.icon--boundries {
  width: 24px;
  height: 24px;
  background-position: 75.59725067385445% 66.66666666666667%; }

.icon--companies {
  width: 64px;
  height: 64px;
  background-position: 70.52341597796143% 52.10191780821918%; }

.icon--daily-summary {
  width: 256px;
  height: 256px;
  background-position: 63.09303758471965% 39.80189274447949%; }

.icon--email-templates {
  width: 128px;
  height: 128px;
  background-position: 76.58480868075385% 73.35243553008596%; }

.icon--emailhisttory {
  width: 512px;
  height: 512px;
  background-position: 37.454279444038036% 50.59288537549407%; }

.icon--geoFencing {
  width: 135px;
  height: 135px;
  background-position: 54.472477064220186% 73.72210223182145%; }

.icon--if_002_User_183567 {
  width: 16px;
  height: 16px;
  background-position: 80.4256038647343% 66.3129973474801%; }

.icon--if_key-password-passcode-access_2205205 {
  width: 16px;
  height: 16px;
  background-position: 81.2844337090714% 66.3129973474801%; }

.icon--liveview {
  width: 150px;
  height: 150px;
  background-position: 46.26951995373048% 74.52692867540028%; }

.icon--logout {
  width: 24px;
  height: 24px;
  background-position: 74.30345013477088% 66.66666666666667%; }

.icon--management {
  width: 64px;
  height: 64px;
  background-position: 70.52341597796143% 41.143013698630135%; }

.icon--messages {
  width: 256px;
  height: 256px;
  background-position: 63.09303758471965% 59.991167192429025%; }

.icon--monitor {
  width: 500px;
  height: 500px;
  background-position: 0 100%; }

.icon--offices {
  width: 150px;
  height: 150px;
  background-position: 28.91844997108155% 74.52692867540028%; }

.icon--overspeed {
  width: 128px;
  height: 128px;
  background-position: 83.89491719017704% 73.35243553008596%; }

.icon--password {
  width: 30px;
  height: 30px;
  background-position: 72.68793942671715% 40.206693440428374%; }

.icon--playback {
  width: 512px;
  height: 512px;
  background-position: 0 50.59288537549407%; }

.icon--pointofinterest {
  width: 48px;
  height: 48px;
  background-position: 69.90715456034954% 55.87317073170732%; }

.icon--realtimeone {
  width: 96px;
  height: 96px;
  background-position: 71.7891194615816% 35.3422969187675%; }

.icon--tracker {
  width: 64px;
  height: 64px;
  background-position: 70.52341597796143% 45.526575342465755%; }

.icon--trackersvg {
  width: 500px;
  height: 500px;
  background-position: 99.95134155184917% 48.828125%; }

.icon--user {
  width: 500px;
  height: 500px;
  background-position: 99.95134155184917% 0; }

.icon--users {
  width: 24px;
  height: 24px;
  background-position: 78.18485175202156% 66.66666666666667%; }

.icon--vehicle-history {
  width: 128px;
  height: 128px;
  background-position: 69.27470017133066% 73.35243553008596%; }

.icon--vehicles {
  width: 128px;
  height: 128px;
  background-position: 61.964591661907484% 73.35243553008596%; }

.icon--vehicles_trips {
  width: 150px;
  height: 150px;
  background-position: 37.59398496240601% 74.52692867540028%; }

.nano .nano-content {
  padding: 10px; }

.nano .nano-pane {
  background: #000; }

.nano .nano-slider {
  background: #fff; }

body {
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-size: 100%;
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3 {
  color: #000; }
