@import "module/_header";
@import "module/_variables";
@import "module/_sprite";
@import "module/_mediaquiries";
@import "module/_footer";
@import "module/second-section";
@import "module/scrollbar";
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


// preloading styling


body{
  font-family: 'Raleway', sans-serif;
  color: $black;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2,h3{
    color: $black
}